* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #a21caf;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    background-color: #f0f2f5;
    margin: 0; /* Remove default margin */
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr 275px;
    grid-template-rows: 1fr auto;
    width: 100%;
    max-width: 100%; /* Allow the container to take full width */
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    padding: 0; /* Remove any padding */
}

.header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    grid-auto-flow: row;
    padding: 0px 40px 10px 40px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Added box shadow */
}

.projects {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 20px;
    width: 100%; /* Ensure it takes full width of the container */
    max-width: 1200px; /* Set a maximum width */
    margin: 0 auto; /* Center the section */
}

@media (min-width: 1200px) {
    .projects {
        max-width: 100%; /* Allow it to grow beyond 1200px on larger screens */
    }
}

.sidebar-right {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    padding: 0; /* Remove any padding */
    display: flex;
    flex-direction: column;
}

.sidebar,
.sidebar-right {
    background-color: var(--background-color);
    color: #fff;
    padding: 20px;
}

.sidebar .logo {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.sidebar img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}

.sidebar nav img {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
    vertical-align: middle;
    margin-right: 1em;
}

.sidebar nav a {
    display: block;
    color: #fff;
    margin-bottom: 15px;
    text-decoration: none;
}

.main-content {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
}

.search {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
}

.search input {
    border-radius: 20px;
    /* Makes the input rounded */
    background-color: #e0e0e0;
    /* Sets the background color to grey */
    border: none;
    /* Removes the border */
    padding: 10px;
    /* Adds some padding */
    outline: none;
    /* Removes the outline on focus */
    flex: 1;
}

.top-right-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header .welcome {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 20px;
    align-items: center;
}

#main-logo {
    vertical-align: middle;
    width: 100%;
    /* Make the logo fit the size of the grid */
    height: auto;
    /* Maintain aspect ratio */
}

.header .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.header .actions button {
    margin-left: 10px;
    padding: 10px 30px;
    border: none;
    background-color: var(--background-color);
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.projects h3 {
    margin-bottom: 10px;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px; /* Makes the card rounded */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a box shadow */
    border-left: 5px solid #fbbf24; /* Adds a yellow line on the left side */
    margin-bottom: 20px; /* Adds some space between cards */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px; /* Set a fixed height to accommodate the largest text description */
}

.card h4 {
    margin-top: 0;
}

.card p {
    margin: 10px 0;
    font-size: 0.9em; /* Makes the font smaller */
    color: grey; /* Sets the text color to grey */
    flex-grow: 1; /* Allows the paragraph to grow and fill available space */
}

.card-icons {
    display: flex;
    justify-content: flex-end; /* Justify buttons to the right */
    gap: 5px; /* Reduce the gap between buttons */
    margin-top: 10px;
}

.card-icons a {
    display: inline-block;
}

.card-icons img.icon {
    width: 20px; /* Make the icons smaller */
    height: 20px; /* Make the icons smaller */
}

.sidebar-right {
    display:flex;
    flex-direction: column;
}

.announcement-card {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px; /* Makes the card rounded */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a box shadow */
    margin-bottom: 20px; /* Adds some space between cards */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-start;
}

.announcement {
    color: #333;
    font-size: .8em; /* Slightly smaller than h3 */
}

.announcement p {
    font-size: 0.9em; /* Smaller subtext */
    color: grey; /* Grey color for subtext */
    margin: 5px 0 0 0; /* Adjust margin as needed */
}

.announcement + .announcement::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 1em;
}

.trending-card {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 10px; /* Makes the card rounded */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a box shadow */
    margin-bottom: 20px; /* Adds some space between cards */
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: flex-start;
}

.trend-item {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between the image and the text */
    font-size: 0.9em; /* Adjust the size as needed */
}

.trend-icon {
    width: 3em; /* Adjust the size as needed */
}

.trend-text {
    display: flex;
    flex-direction: column;
}

.trend-handle {
    font-weight: bold;
}

.trend-description {
    color: grey;
}

.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    margin-right: 1em;
    /* Adjust the value as needed */
}

#logo-icon {
    width: 2em;
    height: 2em;
    vertical-align: middle;
    margin-right: 1em;
    /* Adjust the value as needed */
}